body {
  font-size: 16px;
  color: #000000;
  background-color: #f3f8f4;
}

.navbar-brand {
  color: #0f790e;
  font-weight: 900;
}

#header-nav {
  background-color: #0f790e;
  margin-bottom: 10px;
}

.nav-item > a {
  color: #ffffff;
}

main {
  margin: 0;
  padding-left: 100px;
}