---
layout: default
enable_header: true
---

<!DOCTYPE html>
<html lang="en">

<head>
  <script data-ad-client="ca-pub-1916321769007566" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <link rel="shortcut icon" href="/img/devops.ico">
  <style>
    hr {
      height:3px;border-width:0;color:#0275d8;background-color:#0275d8
    }
      /* Make the image fully responsive */
    .carousel-inner img {
      width: 100%;
      height: 100%;
    }
  </style>
  <title>Devops Tutorial</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Best Devops tutorials">
  <meta name="keywords" content="Devops, Jenkins, Docker, Kubernetes, Helm Chart, Shell script, Python, Linux, Jfrog artifactory, Nexus, Anchore, Sonarqube">
  <meta name="author" content="Vignesh Sweekaran">
</head>
<body>

<!-- Projects section starts -->
<section class="projects bg-white py-5" id="projects">
    <div class="container-lg py-4">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                  <h2 class="fw-bold mb-5">Services</h2>
                </div>
              </div>
        </div>

        <div class="row text-center my-3">

            <div class="col-md-3">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem; height: 35rem">
                    <img src="/img/services/mock-interview.png" class="card-img-top" alt="California" width="200" height="200">
                    <div class="card-body">
                      <h5 class="card-title">DevOps Mock Interview</h5>
                      <p class="card-text">Git, Jenkins, Docker, Kubernetes and Helm charts</p>
                      <a href="https://www.picktime.com/a90d7fb1-15ad-4d8e-84d3-4c78f360acff" class="ptbkbtn" target="_blank" style="float:none;"><img border="none" src="https://www.picktime.com/bookingPage/img/picktime-book-online.png" alt="Book an appointment with devopspilot"/></a>
                    </div>
                  </div>
            </div>

            <div class="col-md-3">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem; height: 25rem">
                    <img src="/img/services/1-1-training.jpg" class="card-img-top" alt="California" width="200" height="200">
                    <div class="card-body">
                      <h5 class="card-title">1 to 1 Live Trainings</h5>
                      <p class="card-text">Git,Jenkins,Gitlab CI,Docker,Kubernetes and Helm charts</p>
                      <a href="https://www.picktime.com/a90d7fb1-15ad-4d8e-84d3-4c78f360acff" class="ptbkbtn" target="_blank" style="float:none;"><img border="none" src="https://www.picktime.com/bookingPage/img/picktime-book-online.png" alt="Book an appointment with devopspilot"/></a>
                    </div>
                  </div>
            </div>

        </div>
    </div>
</section>
<!-- Projects Section Ends -->

<!-- JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="../js/bootstrap.bundle.min.js"></script>

<!-- {% include carousel.html %} -->
{% include interview-questions.html %}
<button type="button" class="btn btn-primary">Git tutorials</button>
{% include git.html %}
{% include jenkins.html %}
{% include docker.html %}
<button type="button" class="btn btn-primary">Kubernetes tutorials</button>
{% include kubernetes.html %}
{% include shell-script.html %}
<button type="button" class="btn btn-primary">Linux tutorials</button>
{% include linux.html %}
{% include tomcat.html %}
{% include ssl-tls.html %}
{% include sonarqube.html %}

</body>
</html>
