<p><a class="badge badge-primary">Azure Devops</a></p>
<div>
  <p><a href="/content/azure-devops/create-azure-pipeline">How to create a azure pipeline</a></p>
  <p><a href="/content/azure-devops/create-azure-pipeline">How to build a Java project using maven</a></p>
  <p><a href="/content/azure-devops/create-azure-pipeline">How to configure self hosted agent</a></p>
  <p><a href="/content/azure-devops/create-azure-pipeline">How to build a Java project using self hosted agent</a></p>
  <p><a href="/content/azure-devops/create-azure-pipeline">How to build a Java project and push the war file to azure artifacts</a></p>
  <p><a href="/content/azure-devops/create-azure-pipeline">How to build a Java project and cache the dependencies</a></p>
  <p><a href="/content/azure-devops/create-azure-pipeline">How to build a Java project and deploy to tomcat</a></p>
  <p><a href="/content/azure-devops/create-azure-pipeline">Separate pipeline to download the artifacts and deploy to tomcat</a></p>
  <p><a href="/content/azure-devops/create-azure-pipeline">How to use release pipeline to download the artifacts and deploy to tomcat</a></p>
  <p><a href="/content/azure-devops/trigger-pipeline-using-curl">How to trigger a azure pipeline using rest api using curl</a></p>
  <p><a href="https://www.youtube.com/watch?v=NT_vMuzpXuY">Deploy helm chart to AKS cluster using Azure Devops</a></p>
</div>