<p><a class="badge badge-primary">Azure</a></p>
<div>
  <p><a href="/content/azure/tutorials/cli/cli">Azure cli commands</a></p>
</div>
<p><a class="badge badge-primary">AZ 900</a></p>
<div>
  <p><a href="/content/azure/tutorials/az900/notes">AZ900 Notes</a></p>
</div>
<p><a class="badge badge-primary">AZ 104</a></p>
<div>
  <p><a href="/content/azure/tutorials/az104/notes">AZ104 Notes</a></p>
</div>
<div>
  <p><a href="/content/azure/tutorials/az104/virtual-network">Virtual Network</a></p>
</div>