<p><a class="badge badge-primary">Azure</a></p>
<div>
  <p><a href="/content/azure/tutorials/cli/cli">Azure cli commands</a></p>
</div>
<p><a class="badge badge-primary">AZ 900</a></p>
<div>
  <p><a href="/content/azure/tutorials/az900/notes">AZ900 Notes</a></p>
</div>
<p><a class="badge badge-primary">AZ 104</a></p>
<div>
<p><a href="/content/azure/tutorials/az104/notes">AZ104 Notes</a></p>
<p><a href="/content/azure/tutorials/az104/azure-policy">Azure policy</a></p>
<p><a href="/content/azure/tutorials/az104/virtual-network">Virtual Network</a></p>
<p><a href="/content/azure/tutorials/az104/azure-cli-powershell">Azure powershell and cli</a></p>
<p><a href="/content/azure/tutorials/az104/network-security-group">Network security group</a></p>
<p><a href="/content/azure/tutorials/az104/azure-firewall">Azure firewall</a></p>
<p><a href="/content/azure/tutorials/az104/vnet-peering">Vnet peering</a></p>
</div>