<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/jenkins/jenkins.jpg" alt="Los Angeles" width="225" height="225">
        <div class="carousel-caption">
          <p><a href="https://vigneshsweekaran.github.io/jenkins.html">Jenkins Tutorials</a></p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="/img/docker/docker.jpg" alt="Chicago" width="225" height="225">
        <div class="carousel-caption">
          <p><a href="https://vigneshsweekaran.github.io/docker.html">Docker Turorials</a></p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="/img/kubernetes/kubernetes.png" alt="New York" width="225" height="225">
        <div class="carousel-caption">
          <p><a href="https://vigneshsweekaran.github.io/kubernetes.html">Kubernetes Tutorials</a></p>
        </div>   
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>