<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#docker">Docker</button>
<div id="docker" class="collapse show">
  <a class="badge badge-primary" data-toggle="collapse" data-target="#docker-tutorial">Tutorials</a>
  <div id="docker-tutorial" class="collapse show">
    <p><a href="https://docs.docker.com/develop/develop-images/dockerfile_best-practices/">Dockerfile best practices</a></p>
    <p><a href="/content/docker/tutorials/Dockerfile/01-create-dockerfile-to-install-packages">How to write a dockerfile for installing packages</a></p>
    <p><a href="/content/docker/tutorials/Dockerfile/02-create-a-dokerfile-for-installing-openjdk15">How to write a dockerfile for installing openjdk15</a></p>
    <p><a href="/content/docker/tutorials/Dockerfile/03-create-multi-stage-dockerfile">How to create multi stage Dockerfile</a></p>
    <p><a href="/content/docker/tutorials/Dockerfile/04-how-to-write-a-dockerfile-for-running-war-file-in-tomcat">How to write a dockerfile for running a java application (*.war) in Apache tomcat webserver</a></p>
  </div>
  <a class="badge badge-primary" data-toggle="collapse" data-target="#docker-notes">Notes</a>
  <div id="docker-notes" class="collapse show">
    <p><a href="/content/docker/10-tools-as-containers">Devops tools as docker containers</a></p>
  </div>
  <a class="badge badge-primary" data-toggle="collapse" data-target="#docker-advanced">Docker Advanced Topics</a>
  <div id="docker-advanced" class="collapse show">
    <p><a href="/content/docker/tutorials/advanced/namespace">Linux kernal feature - namespace</a></p>
    <p><a href="/content/docker/tutorials/advanced/chroot">Linux chroot</a></p>
    <p><a href="/content/docker/tutorials/advanced/cgroups">Linux cgroups</a></p>
  </div>
</div>