<div id="git-notes" class="collapse show">
  <p><a href="/content/git/tutorials/01-how-to-create-github-account">How to create free account in Github and how to create repository in it</a></p>
  <p><a href="/content/git/tutorials/basics">Git</a></p>
  <p><a href="/content/git/tutorials/branching-merging">Branching & Merging</a></p>
  <p><a href="/content/git/tutorials/pull_fetch">Pull vs Fetch</a></p>
  <p><a href="/content/git/tutorials/stash">Stash</a></p>
  <p><a href="/content/git/tutorials/tags">Tags</a></p>
  <p><a href="/content/git/tutorials/reset">Reset</a></p>
</div>
