<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#git">Git</button>
<div id="git" class="collapse show">
  <a class="badge badge-primary" data-toggle="collapse" data-target="#git-notes">Notes</a>
  <div id="git-notes" class="collapse show">
    <p><a href="/content/git/basics">Git</a></p>
    <p><a href="/content/git/branching-merging">Branching & Merging</a></p>
    <p><a href="/content/git/pull_fetch">Pull vs Fetch</a></p>
    <p><a href="/content/git/stash">Stash</a></p>
    <p><a href="/content/git/tags">Tags</a></p>
    <p><a href="/content/git/reset">Reset</a></p>
  </div>
</div>