<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#interview-questions">DevOps Interview Questions</button>
<div id="interview-questions" class="collapse show">
    <p><a href="/content/git/tutorials/interview_questions">Git</a></p>
    <p><a href="/content/jenkins/3-interview_questions">Jenkins</a></p>
    <p><a href="/content/docker/3-interview-questions">Docker</a></p>
    <p><a href="/content/kubernetes/tutorials/interview-questions">Kubernetes</a></p>
    <p><a href="/content/helm/tutorials/interview-questions">Helm</a></p>
    <p><a href="/content/shellscript/07-interview-questions">Shell script</a></p>
    <p><a href="/content/linux/interview-questions">Linux commands</a></p>
    <p><a href="/content/ansible/interview-questions">Ansible</a></p>
    <p><a href="/content/terraform/interview-questions">Terraform</a></p>
</div>
