<p><a class="badge badge-primary">Tutorials</a></p>
<div>
    <p><a href="/content/jenkins/tutorials/common/01-how-to-install-jenkins">How to install Jenkins</a></p>
    <p><a href="/content/jenkins/tutorials/common/02-how-to-install-plugins">How to install plugins in Jenkins</a></p>
    <p><a href="/content/jenkins/tutorials/common/03-global-tool-configurations">Use of Global Tool Configuration in Jenkins</a></p>
    <p><a href="/content/jenkins/tutorials/common/04-how-to-store-credentials-in-jenkins">How to store credentials in Jenkins</a></p>
    <p><a href="/content/jenkins/tutorials/common/how-to-restore-deleted-job">How to restore deleted job in Jenkins</a></p>
</div>
<p><a class="badge badge-primary">Pipeline</a></p>
<div>
    <p><a href="/content/jenkins/tutorials/pipeline/01-how-to-create-pipeline-job">How to create pipeline job in Jenkins</a></p>
    <p><a href="/content/jenkins/tutorials/pipeline/02-how-to-write-jenkinsfile">How to write a Jenkinsfile</a></p>
    <p><a href="/content/jenkins/tutorials/pipeline/03-jenkinsfile-to-build-maven-project">[Part-1] Jenkinsfile to build a maven project</a></p>
    <p><a href="/content/jenkins/tutorials/pipeline/04-jenkinsfile-to-build-maven-project-and-deploy-to-tomcat">[Part-2] Jenkinsfile to build and deploy to Tomcat</a></p>
    <p><a href="/content/jenkins/tutorials/pipeline/05-jenkinsfile-to-build-docker-image-push-deploy-to-same-server">[Part-3] Jenkinsfile to build docker image, push to dockerhub and deploy to same server</a></p>
    <p><a href="/content/jenkins/tutorials/pipeline/06-jenkinsfile-to-build-docker-image-push-deploy-to-different-server">[Part-4] Jenkinsfile to build docker image, push to dockerhub and deploy to different server</a></p>
    <!-- <p><a href="/content/jenkins/tutorials/pipeline/07-jenkinsfile-to-integrate-with-sonarqube">[Part-5] Jenkinsfile to integrate with Sonarqube server</a></p>
    <p><a href="/content/jenkins/tutorials/pipeline/08-jenkinsfile-to-integrate-with-anchore-scanning">[Part-6] Jenkinsfile to integrate with Anchore scanning</a></p> -->
    <p><a href="/content/jenkins/6-environments">How to define Environment varibles in Jenkinsfile</a></p>
    <p><a href="/content/jenkins/7-parallelstage">How to define parallel stage in Jenkinsfile</p>
    <p><a href="/content/jenkins/8-jenkins-triggers">How to define triggers in Jenkinsfile</p>
</div>
<p><a class="badge badge-primary">Integration with AWS</a></p>
<div>
    <p><a href="https://www.youtube.com/watch?v=iiF2iQV-3eM">How to configure AWS Credentials in Jenkins</a></p>
    <p><a href="https://www.youtube.com/watch?v=UU4-TB7vR8s">How to Deploy a docker compose to Amazon ECS using Jenkins</a></p>
</div>
<p><a class="badge badge-primary">Monitoring</a></p>
<div>
    <p><a href="https://www.youtube.com/watch?v=3H9eNIf9KZs">How to Monitor Jenkins With Grafana and Prometheus</a></p>
</div>