<p><a class="badge badge-primary">Jfrog</a></p>
<div>
  <p><a href="/content/jfrogartifactory/tutorials/how-to-create-free-account-in-jfrog-cloud">How to create free account in Jfrog Artifactory cloud</a></p>
  <p><a href="https://www.jfrog.com/confluence/display/JFROG/Repository+Management">Jfrog repository types</a></p>
</div>
<p><a class="badge badge-primary">Setting up repositories in Jfrog</a></p>
<div>
  <p><a href="https://www.youtube.com/watch?v=MGXrPz9wwOY&list=PLCE1F02326551FE9F&index=37">How to setup maven repository</a></p>
  <p><a href="https://www.youtube.com/watch?v=SG9rtyXsEXU&list=PLCE1F02326551FE9F&index=33">How to setup Docker repository</a></p>
  <p><a href="https://www.youtube.com/watch?v=Vg63uHLKW_0&list=PLCE1F02326551FE9F&index=28">How to setup Gradle repository</a></p>  
  <p><a href="https://www.youtube.com/watch?v=WSUjbnfWxvg&list=PLCE1F02326551FE9F&index=34">How to setup PyPi repository</a></p>
  <p><a href="https://www.youtube.com/watch?v=U4hKPpkqlJI&list=PLCE1F02326551FE9F&index=35">How to setup Debian repository</a></p>
  <p><a href="https://www.youtube.com/watch?v=8wYf9unk_Uw&list=PLCE1F02326551FE9F&index=39">How to setup npm repository</a></p>
  <p><a href="https://www.youtube.com/watch?v=IlNWNWu0Q_o&list=PLCE1F02326551FE9F&index=40">How to setup Nuget repository</a></p>
  <p><a href="https://www.youtube.com/watch?v=cV4mfBJ4JGQ&list=PLCE1F02326551FE9F&index=27">How to setup Rpm repository</a></p>
  <p><a href="https://www.youtube.com/watch?v=4wuYHBpnnp8&list=PLCE1F02326551FE9F&index=13">How to setup RubyGems repository</a></p>
  <p><a href="https://www.youtube.com/watch?v=IUI9dDTmHLg&list=PLCE1F02326551FE9F&index=29">How to setup Helm repository</a></p>
</div>
<p><a class="badge badge-primary">Advance topics</a></p>
<div>
  <p><a href="https://www.youtube.com/watch?v=_nT76RgXA2c&list=PLCE1F02326551FE9F&index=31">Configure JFrog Artifactory with LDAP</a></p>
  <p><a href="https://www.youtube.com/watch?v=fqaFcjIpcy8&list=PLCE1F02326551FE9F&index=33">Artifactory 5 Repositories Replication</a></p>
  <p><a href="https://www.youtube.com/watch?v=OS6TycMnfiA&list=PLCE1F02326551FE9F&index=39">Artifactory 5 Jenkins Integration</a></p>
</div>