<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#linux-commands">Linux</button>
<div id="linux-commands" class="collapse show">
  <a class="badge badge-primary" data-toggle="collapse" data-target="#linux-commands-tutorial">Tutorials</a>
  <div id="linux-commands-tutorial" class="collapse show">
    <p><a>Updating soon!!</a></p>
  </div>
  <a class="badge badge-primary" data-toggle="collapse" data-target="#linux-commands-notes">Notes</a>
  <div id="linux-commands-notes" class="collapse">
    <p><a>Updating soon!!</a></p>
  </div>
</div>