<p><a class="badge badge-primary">Maven</a></p>
<div>
  <p><a href="/content/maven/tutorials/01-installation">How to install Maven</a></p>
  <p><a href="/content/maven/tutorials/02-generate-a-sample-java-application-using-maven">How to generate a sample java application using Maven</a></p>
</div>
<p><a class="badge badge-primary">Maven configuration</a></p>
<div>
  <p><a href="https://maven.apache.org/guides/introduction/introduction-to-repositories.html">Artifact Repositories</a></p>
  <p><a href="https://maven.apache.org/guides/mini/guide-mirror-settings.html">Setting up Mirrors for Repositories in settings.xml</a></p>
  <p><a href="https://maven.apache.org/guides/mini/guide-multiple-repositories.html">Setting up Multiple Repositories in pom.xml</a></p>
</div>