<section class="projects bg-white py-5" id="projects">
    <div class="container-lg py-4">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                  <h2 class="fw-bold mb-5">Services</h2>
                </div>
              </div>
        </div>

        <div class="row text-center my-3">

            <div class="col-md-3">
                <div class="card text-white bg-dark mb-3" style="max-width: 25rem; height: 35rem">
                    <img src="/img/services/mock-interview.png" class="card-img-top" alt="California" width="200" height="200">
                    <div class="card-body">
                      <a href="https://www.picktime.com/a90d7fb1-15ad-4d8e-84d3-4c78f360acff" class="ptbkbtn" target="_blank" style="float:none;"><img border="none" src="https://www.picktime.com/bookingPage/img/picktime-book-online.png" alt="Book an appointment with devopspilot"/></a>
                      <h5 class="card-title">DevOps Mock Interview</h5>
                      <p class="card-text">Git, Jenkins, Docker, Kubernetes and Helm charts</p>
                      <p class="card-text">INR499 per Hour</p>
                    </div>
                  </div>
            </div>

            <div class="col-md-3">
                <div class="card text-white bg-dark mb-3" style="max-width: 25rem; height: 35rem">
                    <img src="/img/services/1-1-training.jpg" class="card-img-top" alt="California" width="200" height="200">
                    <div class="card-body">
                      <a href="https://www.picktime.com/a90d7fb1-15ad-4d8e-84d3-4c78f360acff" class="ptbkbtn" target="_blank" style="float:none;"><img border="none" src="https://www.picktime.com/bookingPage/img/picktime-book-online.png" alt="Book an appointment with devopspilot"/></a>
                      <h5 class="card-title">1 to 1 Live Trainings</h5>
                      <p class="card-text">Git, Jenkins, Gitlab CI, Docker, Kubernetes and Helm charts</p>
                      <p class="card-text">INR499 per Hour</p>
                    </div>
                  </div>
            </div>

            <div class="col-md-3">
              <div class="card text-white bg-dark mb-3" style="max-width: 25rem; height: 35rem">
                  <img src="/img/services/doubt.jpg" class="card-img-top" alt="California" width="200" height="200">
                  <div class="card-body">
                    <a href="https://www.picktime.com/a90d7fb1-15ad-4d8e-84d3-4c78f360acff" class="ptbkbtn" target="_blank" style="float:none;"><img border="none" src="https://www.picktime.com/bookingPage/img/picktime-book-online.png" alt="Book an appointment with devopspilot"/></a>
                    <h5 class="card-title">Doubt Discussion</h5>
                    <p class="card-text">Git, Jenkins, Gitlab CI, Docker, Kubernetes and Helm charts</p>
                    <p class="card-text">INR499 per Hour</p>
                  </div>
                </div>
          </div>

        </div>
    </div>
</section>