<p><a class="badge badge-primary">Shell script</a></p>
<div>
    <p><a href="/content/shellscript/04-basics">Basics</a></p>
    <p><a href="/content/shellscript/02-environment-variables">Environment variables</a></p>
    <p><a href="/content/shellscript/23-read">How to read a value from user</a></p>
    <p><a href="/content/shellscript/05-special-variables">Special variables</a></p>
    <p><a href="/content/shellscript/06-ifs-effects-on-special-variables">IFS effects on special variables</a></p>
    <p><a href="/content/shellscript/32-cat">How to use 'cat'</a></p>
    <p><a href="/content/shellscript/08-awk">How to use 'awk'</a></p>
    <p><a href="/content/shellscript/09-sed">How to use 'sed'</a></p>
    <p><a href="/content/shellscript/10-cut">How to use 'cut'</a></p>
    <p><a href="/content/shellscript/24-uniq">How to use 'uniq'</a></p>
    <p><a href="/content/shellscript/25-sort">How to use 'sort'</a></p>
    <p><a href="/content/shellscript/22-grep">How to use 'grep'</a></p>
    <p><a href="/content/shellscript/21-find">How to use 'find'</a></p>
    <p><a href="/content/shellscript/12-jq">How to use 'jq'</a></p>
    <p><a href="/content/shellscript/26-trap">How to use 'trap'</a></p>
    <p><a href="/content/shellscript/11-crontab">How to use 'crontab'</a></p>
    <p><a href="/content/shellscript/27-let">How to use 'let'</a></p>
    <p><a href="/content/shellscript/28-wait">How to use 'wait'</a></p>
    <p><a href="/content/shellscript/29-sleep">How to use 'sleep'</a></p>
    <p><a href="/content/shellscript/30-tee">How to use 'tee'</a></p>
    <p><a href="/content/shellscript/31-xargs">How to use 'xargs'</a></p>
    <p><a href="/content/shellscript/01-reference">References</a></p>
</div>