<p><a class="badge badge-primary">Freenom Domain Registrar</a></p>
<div>
  <p><a href="/content/https/freenom/how-to-purchase-a-free-domain-using-freenom">How to purchase a free domain using freenom domain registrar</a></p>
</div>
<div>
  <p><a href="/content/https/freenom/how-to-add-a-dns-record-in-freenom-domain">How to add a DNS record in freenom domain registrar</a></p>
</div>
<p><a class="badge badge-primary">Let’s Encrypt SSL/TLS Certificates</a></p>
<div>
  <p><a href="/content/https/letsencrypt/how-to-configure-free-letsencrypt-ssl-tls-certificates-with-nginx">How to configure Free Let’s Encrypt SSL/TLS Certificate with NGINX and autorenew certificate</a></p>
</div>
<div>
  <p><a href="/content/https/letsencrypt/how-to-configure-free-letsencrypt-ssl-tls-certificates-with-nginx-for-subdomains">How to configure Free single Let’s Encrypt SSL/TLS Certificate with NGINX for multiple subdomains and autorenew certificate</a></p>
</div>
<div>
  <p><a href="/content/https/letsencrypt/how-to-configure-free-letsencrypt-ssl-tls--wildcard-certificates-with-nginx-for-subdomains">How to configure free single Let’s Encrypt SSL/TLS wildcard Certificate with NGINX</a></p>
</div>
<p><a class="badge badge-primary">Selfsigned SSL/TLS certificate</a></p>
<div>
  <p><a href="/content/https/self-signed-certificate-using-openssl">self signed certificate using openssl</a></p>
</div>
