<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#tomcat">Tomcat</button>
<div id="docker" class="collapse show">
  <a class="badge badge-primary" data-toggle="collapse" data-target="#tomcat-tutorial">Tutorials</a>
  <div id="tomcat-tutorial" class="collapse show">
    <p><a href="https://docs.docker.com/develop/develop-images/dockerfile_best-practices/">How to install Tomcat</a></p>
    <p><a href="/content/docker/tutorials/Dockerfile/01-create-dockerfile-to-install-packages">How to manually deploy the java application in Tomcat</a></p>
  </div>
</div>