<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <title>Devops Tutorial</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Best Devops tutorials">
    <meta name="keywords" content="Devops, Jenkins, Docker, Kubernetes, Helm Chart, Shell script, Python, Linux, Jfrog artifactory, Nexus, Anchore, Sonarqube">
    <meta name="author" content="Vignesh Sweekaran">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicon/site.webmanifest">
    <!-- ad
    <script data-ad-client="ca-pub-6402710159572056" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1916321769007566" crossorigin="anonymous"></script> -->
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- my stylesheet -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- google analytics -->
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <div class="container-fluid">
      <p class="text-center" href="index.html">
        <img src="assets/img/logo.png" width="30" height="30" class="rounded" alt="logo">
        DevopsPilot
      </p>
    </div>
    <header>
      <div class="nav-scroller py-1 mb-3">
        <nav class="nav nav-underline">
          {% for item in site.data.nav.nav-list %}
            <a class="nav-item nav-link link-body-emphasis active" href="{{ item.url }}">{{ item.title }}</a>
          {% endfor %}
        </nav>
      </div>
    </header>
    <!-- <header>
      <nav id="header-nav" class="navbar navbar-default">
        <div class="container">
          <ul class="navbar-nav">
            {% for item in site.data.nav.nav-list %}
            <li class="nav-item">
              <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
            </li>
            {% endfor %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CI/CD Tools
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for item in site.data.nav.cicd-nav-list %}
                <a class="dropdown-item" href="{{ item.url }}">{{ item.title }}</a>
                {% endfor %}
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cloud
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for item in site.data.nav.cloud-nav-list %}
                <a class="dropdown-item" href="{{ item.url }}">{{ item.title }}</a>
                {% endfor %}
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Scripting
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for item in site.data.nav.scripting-nav-list %}
                <a class="dropdown-item" href="{{ item.url }}">{{ item.title }}</a>
                {% endfor %}
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header> -->
    <main>
      {{ content }}
    </main>
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <span class="mb-3 mb-md-0 text-body-secondary"><a>devopspilot.com</a> &copy; 2021-2023</span>
        </div>
      </footer>
    </div>
  </body>
</html>
